form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-right: 0.5rem;
}

button:hover {
  background-color: #0069d9;
}

#btn-agregar {
  background-color: #28a745;
}

#btn-modificar {
  background-color: #ffc107;
}

#btn-eliminar {
  background-color: #dc3545;
}

.custom-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 2% 0;
  margin-top: 13%;
  margin-right: 0%;
  border: grey solid 2px;
  /* border-right: ; */
  border-radius: 30px;
}

.custom-container__label{
  margin-right: 2em;
}

.contenido-principal{
  margin-left: 0%;
  
}

.fondo{
    background-image: url(./imagenes/fondo-ondulado-azul.jpg);
    height: 50vh;
}


